.layout {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.content {
  display: flex;
  flex: 1;
}

.sidebar {
  background-color: var(--card-bg);
  border-right: 1px solid var(--border-color);
  padding: var(--space-2xl);
  width: 220px;
}

.main {
  flex: 1;
  margin-inline: auto;
  max-width: 600px;
  padding: var(--space-3xl);
}